@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


body {
    background-color: #222;
    margin: 0;
    font-family: system-ui;
    display: grid;
    place-content: center;
    min-height: 100vh;
}